<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fish_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,64}</string>
                <key>spriteSourceSize</key>
                <string>{78,64}</string>
                <key>textureRect</key>
                <string>{{0,0},{78,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
			<key>fish_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,64}</string>
                <key>spriteSourceSize</key>
                <string>{78,64}</string>
                <key>textureRect</key>
                <string>{{0,64},{78,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
			<key>fish_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,64}</string>
                <key>spriteSourceSize</key>
                <string>{78,64}</string>
                <key>textureRect</key>
                <string>{{0,128},{78,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
			<key>fish_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,64}</string>
                <key>spriteSourceSize</key>
                <string>{78,64}</string>
                <key>textureRect</key>
                <string>{{0,192},{78,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
			<key>fish_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,64}</string>
                <key>spriteSourceSize</key>
                <string>{78,64}</string>
                <key>textureRect</key>
                <string>{{0,256},{78,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
			<key>fish_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,64}</string>
                <key>spriteSourceSize</key>
                <string>{78,64}</string>
                <key>textureRect</key>
                <string>{{0,320},{78,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
			<key>fish_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,64}</string>
                <key>spriteSourceSize</key>
                <string>{78,64}</string>
                <key>textureRect</key>
                <string>{{0,384},{78,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
			<key>fish_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,64}</string>
                <key>spriteSourceSize</key>
                <string>{78,64}</string>
                <key>textureRect</key>
                <string>{{0,448},{78,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>fish2.png</string>
            <key>size</key>
            <string>{78,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
            <key>textureFileName</key>
            <string>fish2.png</string>
        </dict>
    </dict>
</plist>
