<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tortoise_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,187}</string>
                <key>spriteSourceSize</key>
                <string>{178,187}</string>
                <key>textureRect</key>
                <string>{{0,0},{178,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
			<key>tortoise_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,187}</string>
                <key>spriteSourceSize</key>
                <string>{178,187}</string>
                <key>textureRect</key>
                <string>{{0,187},{178,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
			<key>tortoise_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,187}</string>
                <key>spriteSourceSize</key>
                <string>{178,187}</string>
                <key>textureRect</key>
                <string>{{0,374},{178,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
			<key>tortoise_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,187}</string>
                <key>spriteSourceSize</key>
                <string>{178,187}</string>
                <key>textureRect</key>
                <string>{{0,561},{178,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
			<key>tortoise_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,187}</string>
                <key>spriteSourceSize</key>
                <string>{178,187}</string>
                <key>textureRect</key>
                <string>{{0,748},{178,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
			<key>tortoise_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,187}</string>
                <key>spriteSourceSize</key>
                <string>{178,187}</string>
                <key>textureRect</key>
                <string>{{0,935},{178,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
			<key>tortoise_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,187}</string>
                <key>spriteSourceSize</key>
                <string>{178,187}</string>
                <key>textureRect</key>
                <string>{{0,1122},{178,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
			<key>tortoise_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,187}</string>
                <key>spriteSourceSize</key>
                <string>{178,187}</string>
                <key>textureRect</key>
                <string>{{0,1309},{178,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
			<key>tortoise_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,187}</string>
                <key>spriteSourceSize</key>
                <string>{178,187}</string>
                <key>textureRect</key>
                <string>{{0,1496},{178,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
			<key>tortoise_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,187}</string>
                <key>spriteSourceSize</key>
                <string>{178,187}</string>
                <key>textureRect</key>
                <string>{{0,1683},{178,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>fish10.png</string>
            <key>size</key>
            <string>{178,1870}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:db54f5d8fc876d2b8dd51f7c0e0487e2:3e6ff3c157e0bd68f6b238b4b8a3276b:21d34b1ac1e7d41f765d139a133eeccc$</string>
            <key>textureFileName</key>
            <string>fish10.png</string>
        </dict>
    </dict>
</plist>
